.expand-button {
  display: none;
  background-color: $darkGray;
  border: 1px solid $lightGray;

  &:hover {
    background-color: $lightGray;
  }
}

.copy-button {
  display: none;
  background-color: $darkGray;
  border: 1px solid $lightGray;

  &:hover {
    background-color: $lightGray;
  }
}

.image-wrapper {
  cursor: pointer;

  .like-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    border-radius: 5px;
    background-color: $darkGray;
    border: 1px solid $lightGray;
  }

  .like-button.liked {
    display: block;
    color: $pink;
    background-color: transparent;
    border: none;

    path {
      stroke-width: 25px;
      stroke: $white;
    }
  }

  &:hover {
    .expand-button {
      position: absolute;
      top: 10px;
      right: 10px;
      display: inline;
      border-radius: 5px;
    }

    .like-button {
      display: inline;

      &:hover {
        background-color: $lightGray;
      }
    }

    .like-button.liked {
      background-color: $darkGray;
      border: 1px solid $lightGray;

      &:hover {
        background-color: $lightGray;
      }
    }
  }
}
