
button.scroll-top-button {
  position: fixed;
  right: 50px;
  bottom: 50px;

  background: $darkGray;
  border: 2px solid $lightGray;
  color: $white;
  height: $stickyHeight;
  width: $stickyWidth;
  border-radius: 12px;
  
  .scroll-top-button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    
    .above-line {
      width: 21px;
      height: 7px;
      background-color: $pink;
    }
  
    svg {
      font-size: 32px;
      margin-top: -4px;
    }
  }
}


@media (max-width:$screenSmall) {
  button.scroll-top-button .scroll-top-button-wrapper svg {
   font-size: 28px;
  }

  button.scroll-top-button .scroll-top-button-wrapper .above-line {
    width: 22px;
    height: 6px;
  }
}
