.more-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 32px;
}

.more-images-button {
  background: none;
  border: none;
  cursor: pointer;

  .load-more-icon {
    color: $white;
    font-size: 32px;
  }
}
