.drop {
    &_initial {
        background: $darkGray;
        border: 2px solid $lightGray;
        color: $white;
        border-radius: 12px;
        height: $stickyHeight;
    }
    
    &_menu {
        margin-top: 18px;
        z-index: 2;
        position: relative;
        background: $darkGray;
        border: 2px solid $lightGray;
        border-radius: 12px;
        color: $white;
    }
}
