.search_input-wrapper {
  position: sticky;
  top: 20px;
  z-index: 1;

  .search_input {
    width: 100%;
    height: $stickyHeight;
    background: $darkGray;
    border: 2px solid $lightGray;
    border-radius: 12px;
    color: $white;
    padding: 8px;
    padding-left: 20px;
    outline: none;
    font-size: 26px;

    &-wrapper {
      width: 100%;
    }

    &::placeholder {
      color: $white;
      font-size: 24px;
    }
  }
}
