.search {
    &_input {
        width: 100%;
        height: 45px;
        background: #2A3363;
        border: 2px solid #5C6282;
        border-radius: 20px;
        color: white;
        padding: 10px;
        outline: none;

        &-wrapper {
            display: flex;
            justify-content: center;
            position: sticky;
            z-index: 99;
            top: 10px;

            .search-bar-md {
                display: inline-block;
                width: 60%;
            }
            .search-bar-lg {
                display: flex;
                flex-grow: 0.1;
                width: 82%;
            }
        }

        &::placeholder {
            color: white;
            font-size: 18px;
        }
    }
}
