.search {
    &_input {
        width: 100%;
        background: #2A3363;
        border: 2px solid #5C6282;
        border-radius: 20px;
        color: white;
        padding: 10px;
        outline: none;

        &-wrapper {
            display: flex;
            justify-content: center;
            position: sticky;
            z-index: 99;
            top: 5px;

            .form-style-one {
                display: inline-block;
                width: 50%;
            }
            .form-style-second {
                display: inline-block;
                width: 95%;
            }
        }

        &::placeholder {
            color: white;
            font-size: 18px;
        }
    }
}
