.nav {
    &_item {
        list-style-type: none;
        font-size: 22px; 
        padding: 0 12px;
        button {
            background-color: transparent;
            border: none;
            outline: none;
            color: $pink;
            font-size: 25px;
        }

        :hover {
            color: $pink;
        }
        
        &--link {
            color: $white;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

nav ul {
    cursor: pointer;
    padding: 0;
    text-align: center;
}

li:hover{
    color: $pink;
    cursor: pointer;
}

.grid3{
    max-width: 60%;
    display: grid;
    grid-template-columns: 25% 65% 10%;
    grid-template-rows: 45px;
    margin: 25px auto;
    position: sticky;
    top: 0;
    z-index: 1;
}
