.nav {
    &_item {
        list-style-type: none;
        padding: 15px;
        
        button {
            background-color: transparent;
            border: none;
            outline: none;
        }

        :hover {
            color: $pink;
        }

        &--active {
            width: 30px;
            height: 10px;
            background-color: $pink;
            margin-top: 14px;
            margin-left: auto;
            margin-right: auto;
        }

        &--link {
            color: $white;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

nav ul {
    padding: 0;
    display: flex;
    justify-content: center;

    li {
        font-size: 20px;
    }

    li > div {
        cursor: pointer;
    }
}
