.github-corner {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  &:hover .octo-arm {
    animation: wave 560ms ease-in-out;
  }
  svg {
    fill: $lightBlue;
    color: $white;
    .octo-arm {
      transform-origin: 130px 106px;
    }
  }
}

@keyframes wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: $screenSmall) {
  .github-corner {
    &:hover .octo-arm {
      animation: none;
    }
    .octo-arm {
      animation: wave 560ms ease-in-out;
    }
  }
}
