.search {
  &_gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;

    &--image {
      width: 100%;
      height: 100%;
      max-width: 100%;
      min-height: 100%;
      object-fit: cover;
    }

    &--no-image {
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }

    &--no-image-text {
      color: $white;
      font-size: 30px;
    }
  }

  &_gallery > div {
    overflow: hidden;
    position: relative;
    height: 42vw;
    border-radius: 8px;
  }
}
.expand-button {
  display: none;
  background-color: $darkGray;
  border: 1px solid $lightGray;

  &:hover {
    background-color: $lightGray;
  }
}

.modal-dialog {
  .modal-body {
    padding: 0;
  }
}

.modal-image {
  img {
    width: 100%;
  }
}

.like-icon {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
  border-radius: 5px;
  background-color: $pink;
  &:hover {
    background-color: $lightGray;
  }
}

.image-wrapper:hover .expand-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline;
  border-radius: 5px;
}
.image-wrapper:hover .like-icon {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline;
  border-radius: 5px;
  border: none;
}

@media (min-width: $screenSmall) {
  .search {
    &_gallery {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.2em;
    }

    &_gallery > div {
      height: 30vw;
    }
  }
}

@media (min-width: $screenLarge) {
  .search {
    &_gallery {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2em;
    }

    &_gallery > div {
      height: 20vw;
    }
  }
}
