.search {
    &_gallery {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
        padding: 20px;
        
        
        &--image {
            max-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }

        &--no-image {
            margin-top: 50px;
            display: flex;
            justify-content: center;
        }

        &--no-image-text {
            color: white;
            font-size: 30px;
        }
    }
    
    &_gallery > div {
        overflow: hidden;
        position: relative;
        height: 100px;
        border-radius: 8px;
    }    
}

.moreImages {
   display: flex;
   justify-content: center;
}

.moreImagesButton {

}

@media (min-width: 375px) {
  .search {
      &_gallery {
          grid-template-columns: repeat(3, 1fr);
      }

      &_gallery > div {
         height: 150px;
      }
  }
}

@media (min-width: 992px) {
  .search {
      &_gallery {
          grid-template-columns: repeat(4, 1fr);
      }

      &_gallery > div {
         height: 200px;
      }
  }
}

@media (min-width: 1140px) {
  .search {
      &_gallery {
          grid-template-columns: repeat(5, 1fr);
      }

      &_gallery > div {
         height: 190px;
      }
  }
}