.loading {
    &_wrapper {
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    &_item {
        border: 16px solid $darkBorder;
        border-radius: 50%;
        border-top: 16px solid $cerise;
        width: 90px;
        height: 90px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}