// Theme colors
$pink: #DA4167;
$white: rgb(246, 248, 250);

$lightBlue: rgb(0, 112, 243);
$darkBlue: #080B39;

$lightGray: #5C6282;
$darkGray: #2A3363;


// Breakpoints 
$screenSmall: 500px;
$screenMedium: 992px;
$screenLarge: 1140px;

// Sticky Search 
$stickyHeight: 50px;
$stickyTopButtonWidth: 55px;


// Layout
$pagePadding: 4vw;
$pagePaddingSm: 3vw;
$pagePaddingLg: 2vw;
